/*do I need this to use Bulma?
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
*/

:root {
    --primary-color: rgb(97, 2, 97);
    --secondary-color: navy;
    --text-color: pink;
}


/* Styling for  Search Area */
.container {
    display: flex;
    background-color: var(--primary-color);
    border: 10px;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    flex-direction: column;
    color: var(--text-color);
}


/* Search Button styling */
#searchBtn{
    background-color: lightblue;
}

/* Styling for each embedded image/gif/video */
embed {
    width: 19%;
    margin: 5px;
}

/* Styling for the search results */
#searchResults{
    margin: 10px 10px 10px 10px;
}