body{
    display:flex;
    background-color: violet;
    flex-direction: column;
}

.container{
    display:flex;
    flex-direction: column;
    background-color: antiquewhite;
    margin: auto;
    margin-top: 10%;
}

h2{
    display: flex;
    justify-content: center;
}

#searchBtn{
    background-color: lightblue;
}

embed{
    width: 19%;
    margin: 5px;
}


#searchResults{
    background-color: blue;
    margin: 10px 10px 10px 10px;
}